body {
  background-color: rgb(0,0,0);
}

h1 {
}

p  {
}

.item1 { grid-area: header; }
.item2 { grid-area: nav; }
.item3 { grid-area: section; }
.item4 { grid-area: section2; }
.item5 { grid-area: section3; }
.item6 { grid-area: aside; }
.item7 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'nav nav nav nav nav nav'
    'section section section section aside aside'
    'section2 section2 section2 section2 aside aside'
    'section3 section3 section3 section3 aside aside'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #417571;
  padding: 10px;
}

.grid-container > header {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container > nav {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container > section {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container > aside {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container > footer {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


.firstpage {
  color: rgb(255,255,255);
}

.secondpage {
  color: rgb(255,255,255);
}

.thirdpage {
  color: rgb(255,255,255);
}
